<mat-toolbar color="primary" class="navbar" >
  <mat-toolbar-row>
    <button mat-flat-button color="primary">
      <mat-icon>book</mat-icon>
      <a mat-button [routerLink]="'/home'">Bookcart</a>
     </button>
             <mat-form-field appearance="outline" class="mySearchFormField">
                <mat-label>search boooks or author</mat-label>
             <input matInput
             (keyup)="onSearch($event)"
              [(ngModel)] = "searchKey" autocomplete="off">

             <button mat-button matSuffix mat-icon-button (click)="onsearchClear()" *ngIf="searchKey">
             <mat-icon>close</mat-icon>
     </button>
      </mat-form-field>
    <span class="menu-spacer"></span>
    <div class="col-md-5 justify-content-end"></div>
    <button mat-flat-button color="primary"   [routerLink]="'/wishlist'" >
            <mat-icon>favorite</mat-icon>
            <span matBadge="{{wishListNumber}}"

            matBadgeOverlap="false"
            matBadgeSize="medium"
             matBadgeColor="warn"
             matBadgePosition="above after"></span>
       </button>
        <button mat-flat-button color="primary" [routerLink]="'/cart'" >
          <mat-icon>add_shopping_cart</mat-icon>
          <span matBadge="{{cartNumber}}"
          matBadgeOverlap="false"
          matBadgeSize="medium"
           matBadgeColor="warn"
           matBadgePosition="above after"></span>
        </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
